*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background-color:rgb(17, 17, 82)
}
.logo{
    color:white;
}
.navbar nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}
.hero{
    text-align:center;
    padding:60px 20px;
    background-color:rgb(49, 129, 155);
    color: white;
}
.hero button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background-color:white;
    color:rgb(54, 175, 216);
    font-size: 16px;
    cursor:pointer;
}
.categories{
    padding:40px 20px;
    text-align:center;
}
.category-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top: 20px;
}
.card{
    background-color:#e4e9ea;
    padding:20px;
    margin:10px;
    width:150px;
    border-radius:5px;
}
footer{
    background-color:#222f3d;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}
@media(max-width:600px){
    .navbar{
        flex-direction:column;
        text-align:center;
    }
    .navbar nav{
        margin-top:10px;
    }
}